body{
  background-image: url("../assets/desktop-wallpaper-light-web-background-bright-blue-plain.jpg");
}
*{
    margin: 0;
    padding: 0;
}
.nb{
  display: flex;
  width: 100%;
  background-color: rgb(210, 249, 233);
  position: fixed;
  padding: 20px;
  opacity: 0.95;
  
}
.divnb{
  display: flex;
  width: 90%;
}
.nbli{
  display: flex;
  width: 80%;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 20px;
  list-style: none;
}
.navlist a{
  text-decoration: none;
}
#logo{    
  margin-left: 100px;
  width: 270px;
  height: 50px;
}

#img{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 100px;
}
#mac{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  color: #00b39b;
}
.containerp{
display: flex;
justify-content:center;
}
.para{
  display: block;
    margin-block-start: 50px;
    margin-block-end: 50px;
    margin-inline-start: 200px;
    margin-inline-end: 50px;
    gap: px;
  color:gray;
  font-size: 20px;
}

.container{
  display: flex;
  justify-content:center;
  margin-top: 0;
  margin-bottom: 00px;
  margin-block-end:1000 ;
  padding: px;
  opacity: 30px;

  }
.rounded-box{
  display: flex;
  margin-block-start: 50px;
  margin-block-end: 50px;
  margin-bottom: 50px;
  margin-inline-start: 50px;
  margin-inline-end: 10px;
  flex-direction: column;

}
.box1{
  display: block;
  margin-block-start: 50px;
  margin-block-end: 30px;
  margin-inline-start: 200px;
  margin-inline-end: 10px;
  background-color:  #141414;
  color: rgb(254, 255, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.box2{
  display: block;
  margin-block-start: 50px;
  margin-block-end: 30px;
  margin-inline-start: 0px;
  margin-inline-end: 10px;
  background-color:rgb(34, 36, 167);
  color:rgb(254, 255, 255) ;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.box3{
  display: block;
  margin-block-start: 50px;
  margin-block-end: 30px;
  margin-inline-start: 0px;
  margin-inline-end: 100px;
  background-color: rgb(20, 146, 6);
  color: rgb(254, 255, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.containerb{
  display: flex;
justify-content: baseline;
align-items: center;
}
.box-1{
  display:block;
  margin-block-start:40px;
  margin-block-end:100px;
  margin-inline-start: 200px;
  margin-inline-end: 200px;
 color: #00b39b;
}
.box-2{
  display:grid;
  grid-template-columns: 200px 200px 200px 200px ;
  grid-template-rows: 60px 60px 60px 60px;
  list-style: none;
  color: #00b39b;
  font-style: italic;
  font-size: 20px;
  margin-block-start: 100px;
}

.containerA{
  display: flex;
  height: 700px;
  margin-block-start:10px;
  margin-block-end:0px;
  margin-inline-start: 0px;
  margin-inline-end: 10px;
  background-image: url('/assets/image.jpg') ;
  
}
.boxi{
  display:block;
  flex-direction: column;
  margin-block-start:100px;
  margin-block-end:100px;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
}

.containerX{
display: grid;
grid-template-columns: 200px 100px 200px;
grid-template-rows: repeat(22 10%);

}
  .grid-item{
    margin-bottom: 50px;
    margin: 30px;
    width: 220px;
    height: 190px;
    background-color:rgb(192, 250, 176);  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-size: .8125em;
    box-sizing: inherit;
    }
  .grid-item0{
    grid-row-start:2 ;
    grid-row-end:12 ;
    grid-column-start:1 ;
    grid-column-end:2 ;
      
  }
  .grid-item1{
    grid-row-start:1 ;
    grid-row-end:11 ;
    grid-column-start:3 ;
    grid-column-end: 4;
    }
  .grid-item2{
      grid-row-start:13 ;
      grid-row-end: 23;
      grid-column-start: 1;
      grid-column-end:2 ;
    }
  .grid-item3{
    grid-row-start:12 ;
    grid-row-end: 22;
    grid-column-start:3 ;
    grid-column-end: 4;
    }
    
 


.center{
  display:grid;
grid-template-columns: 700px;
grid-template-rows: 100px;  
margin-block-start:100px;
margin-block-end:100px;
margin-inline-start: 400px;
margin-inline-end: 10px;

}
.containerli{
display: flex;
justify-content: space-around;
}
.box{
  display: block;
  justify-content: center;

}
.block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.botton{
  list-style: none;
  border-bottom: 50px;
  border: 2px solid rgb(128, 252, 130);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-color: rgb(115, 238, 113);
  background-color: rgb(132, 246, 124);
  color: white;
  padding: 1px 50px;

}
.join{
  display:grid;
  grid-template-columns: 700px;
  grid-template-rows: 60px;  
  margin-block-start:100px;
  margin-block-end:10px;
  margin-inline-start: 400px;
  margin-inline-end: 10px;
}